[program:job-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /home/www/artisan queue:work redis --sleep=3 --tries=2
autostart=true
autorestart=true
user=someya
numprocs=8
redirect_stderr=true
stdout_logfile=/home/www/storage/logs/supervisor-job-worker.log